@model MvcCV.Models.Entity.TblDeneyimlerim
@{
    ViewBag.Title = "DeneyimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h4 style="margin-top: 20px;">Yeni Deneyim Güncelleme Sayfası</h4>
<br />
<form class="form-control" method="post">
    <br />
    <br />
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "color: red" })
    <br />
    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x => x.AltBaslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AltBaslik, "", new { @style = "color: red" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Tarih, "", new { @style = "color: red" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", rows = "5" })
    @Html.ValidationMessageFor(x => x.Aciklama, "", new { @style = "color: red" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>